{% extends "base.html.twig" %}

{% block title %}
    {{ categorie.name }}
{% endblock %}

{% block content %}
    <div class="p-3 mx-auto text-center">
        <h1 class="display-4">{{ categorie.name }}</h1>
    </div>

    <div class="py-5 bg-light">
        <div class="container ">
            <div class="row">
                {% if articles is not empty %}
                    {% for article in articles %}

                        <div class="col-md-4 mt-4">
                            <div class="card">
                                <img src="{{ basePath ~ '/images/articles/' ~ article.image }}"
                                     class="card-img-top" alt="{{ article.title }}">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="{{ basePath ~ '/article/' ~ article.id }}">
                                            {{ article.title }}</a>
                                    </h5>
                                    <p class="card-text">
                                        {{ article.content | striptags | u.truncate(150, '...') }}
                                    </p>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                {% else %}
                    <div class="col">
                        <div class="alert alert-info text-center">
                            Pas d'article pour le moment.
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

